body {
	font-family: sans-serif;
}

.header {
	position: sticky;
	top: 0;
	background-color: #f7f7f7;
	padding-top: 0.5rem;
}

.options {
	margin: auto;
	display: flex;
	justify-content: space-evenly;
}

.option {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 4px;
	padding: 0.5rem;
}

.option__label {
	font-size: 0.75rem;
	opacity: 0.8;
}

.option__input {
	border: none;
	outline: none;
}

.header__books {
	display: grid;
	border-bottom: 1px solid black;
	font-weight: bold;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr;
	text-align: center;
}
