.row {
	display: grid;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr;
	justify-items: center;
	flex-grow: 0;
	border-bottom: 1px solid gray;
	text-align: center;
}

.row > * {
	padding: 0.25rem;
}

.row:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.details {
	display: flex;
	grid-column: 1/-1;
}

.img {
	margin-right: 2rem;
}

.sentence {
}
